<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Helium Workspaces</title>
     <script src="https://cdn.tailwindcss.com"></script>
   </head>
   <body class="bg-gray-300" style="font-family:Georgia, 'Times New Roman', Times, serif;">
     <nav class="flex items-center justify-between flex-wrap bg-red-700 p-4">
       <div class="flex items-center flex-shrink-0 text-white mr-6">
         <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
         <span class="font-semibold text-xl tracking-tight">Helium</span>
       </div>
       <div class="block lg:hidden">
         <button class="flex items-center px-3 py-2 border rounded text-red-200 border-teal-400 hover:text-white hover:border-white">
           <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
         </button>
       </div>
       <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
         <div class="text-sm lg:flex-grow">
           <a href="https://0f52-172-98-132-18.ngrok.io/list" class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white mr-4">
             List
           </a>
           <a href="https://0f52-172-98-132-18.ngrok.io/" class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white mr-4">
             Create
           </a>
           <a href="https://github.com/pachyderm/helium/" class="block mt-4 lg:inline-block lg:mt-0 text-red-100 hover:text-white">
             Github
           </a>
         </div>
       </div>
     </nav>
   <div class="flex justify-center py-24 px-24">
     <ul class="bg-white rounded-lg border border-gray-200 w-192 text-gray-900">
       {{range $index, $element := .IDs}}
       <li class="py-2 px-2 border border-gray-200 w-full">
         <button
           type="button"
           class="
             rounded-lg
             text-center
             text-2xl
             text-blue-600
             border-gray-200
             w-full
             hover:bg-blue-100 hover:text-gray-800
             focus:outline-none focus:ring-0 focus:bg-blue-200 focus:text-gray-600
             transition
             duration-500
             cursor-pointer
           "
       >
       <a href="https://0f52-172-98-132-18.ngrok.io/get/{{ $element }}">{{ $element }}</a>
       </button>
       </li>
       {{end}}
   </ul>
 </div>
</body>
